.container {
    display: block;
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    background-color: rgba($color: #1593ec, $alpha: 1.0);
 
}

input{
    width: fit-content;
}

p{
    font-weight: 200;
}