<div class="container" [ngClass]="{'selected':selected}">
  <input type="text" name="" id="" [(ngModel)]="tName">
  <p>{{time | date:'longTime'}}</p>
  <!--Add time to label-->
  <p> {{timezone}}</p>
  <!--Add timezone to label-->

    <button (click)="refressTimeZone()">Frissítés</button>
    <!--event fro click in button to get a new time zone -->
    <button (click)="selectTimezone()"
    [disabled]="selected" >Időzona Kiválasztás</button>
    <!--event fro click in button to get a select the time zone -->
    
</div>
    