<h1>{{title}}</h1>
<!--Add Titel -->
<div class="holder">
<ng-container *ngFor="let zone of displayedTimezones">
    <app-timezone [timezone]="zone"
    (changeTimezone)="TimezoneChange($event)"
    [selected]="selectedTimezone === zone"
    ></app-timezone>
    <!--Add timezone component with value for time zone-->
    <!--Add select timezone component with value for time zone-->
</ng-container>
</div>
<br>
<button *ngIf="displayedTimezones.length <= 5" (click)="addNewTimezone()" class="newtimezone">Új időzona hozzáadása</button>
<!--add button to create new timezone-->