<h1>{{title}}</h1>
<!--Add Titel -->
<app-timezone [timezone]="'Europe/Budapest'"
(changeTimezone)="TimezoneChange($event)"
[selected]="selectedTimezone === 'Europe/Budapest'"
></app-timezone>
<!--Add timezone component with value for time zone-->
<!--Add select timezone component with value for time zone-->
<app-timezone [timezone]="'Asia/Tokyo'"
(changeTimezone)="TimezoneChange($event)"
[selected]="selectedTimezone === 'Asia/Tokyo'"
></app-timezone>
<!--Add select timezone component with value for time zone-->
<!--Add select timezone component with value for time zone-->